<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files (x86)\Atollic\TrueSTUDIO for ARM 5.4.0\Servers\ST-LINK_gdbserver\ST-LINK_gdbserver.bat"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:\Program Files (x86)\Atollic\TrueSTUDIO for ARM 5.4.0\Servers\ST-LINK_gdbserver"/>
</launchConfiguration>
